.footer {
	display: flex;
	justify-content: center;
	margin-top: 20%;
}

.link {
	margin: 10px;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #05316f;
	color: orange;
}
