.resume {
	color: white;
	margin: 30px;
}

.content {
	display: flex;
	margin-left: 45%;
	flex-flow: column;
}

ul {
	font-size: 120%;
	color: white;
}

.resumeLink {
	background-color: transparent;
	margin-left: -10px;
}

.resumeLink:hover {
	color: rgb(131, 125, 125);
}

.title {
	color: white;
	margin-left: -10px;
}

@media screen and (max-width: 848px) {
	.content {
		margin-left: 35%;
	}
	ul {
		background-color: transparent;
	}
}
